<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>StaffSchedule</servlet-name>
        <servlet-class>Servlet.StaffSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDropAllRooms</servlet-name>
        <servlet-class>Servlet.StaffDropAllRooms</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffCheckAttendance</servlet-name>
        <servlet-class>Servlet.StaffCheckAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAttendance</servlet-name>
        <servlet-class>Servlet.StaffAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffPages</servlet-name>
        <servlet-class>Servlet.StaffPages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSalary</servlet-name>
        <servlet-class>Servlet.StaffSalary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentExamSchedule</servlet-name>
        <servlet-class>Servlet.StudentExamSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentProfile</servlet-name>
        <servlet-class>Servlet.StudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffAssignRoom</servlet-name>
        <servlet-class>Servlet.StaffAssignRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffDropRoom</servlet-name>
        <servlet-class>Servlet.StaffDropRoom</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendance</servlet-name>
        <servlet-class>Servlet.UpdateAttendance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentSchedule</servlet-name>
        <servlet-class>Servlet.StudentSchedule</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Servlet.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFee</servlet-name>
        <servlet-class>Servlet.StudentFee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentFeedback</servlet-name>
        <servlet-class>Servlet.StudentFeedback</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffSalary</servlet-name>
        <url-pattern>/StaffSalary</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentExamSchedule</servlet-name>
        <url-pattern>/StudentExamSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSchedule</servlet-name>
        <url-pattern>/StaffSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDropAllRooms</servlet-name>
        <url-pattern>/StaffDropAllRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffCheckAttendance</servlet-name>
        <url-pattern>/StaffCheckAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAttendance</servlet-name>
        <url-pattern>/StaffAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffPages</servlet-name>
        <url-pattern>/StaffPages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentProfile</servlet-name>
        <url-pattern>/StudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffAssignRoom</servlet-name>
        <url-pattern>/StaffAssignRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffDropRoom</servlet-name>
        <url-pattern>/StaffDropRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttendance</servlet-name>
        <url-pattern>/UpdateAttendance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentSchedule</servlet-name>
        <url-pattern>/StudentSchedule</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFee</servlet-name>
        <url-pattern>/StudentFee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentFeedback</servlet-name>
        <url-pattern>/StudentFeedback</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
